<div class="mt-5 bg-light">
    <div class="container-fluid">
  
      <div id="demo" class="carousel slide mt-5" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
          <li data-target="#demo" data-slide-to="3"></li>
          <li data-target="#demo" data-slide-to="4"></li>
          <li data-target="#demo" data-slide-to="5"></li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="products/clothing"><img src="../../assets/Images/crousel9.jpg" alt="Clothing" width="1100" height="500"></a>
          </div>
          <div class="carousel-item">
            <a href="products/clothing"><img src="../../assets/Images/offer.jpg" alt="Clothing" width="1100" height="500"></a>
          </div>
          <div class="carousel-item">
            <a href="products/clothing"><img src="../../assets/Images/crousel12.jpg" alt="Clothing" width="1100" height="500"></a>
          </div>
          <div class="carousel-item">
            <a href="products/footwear"><img src="../../assets/Images/discount4.jpg" alt="Footwear" width="1100" height="500"></a>
          </div>
          <div class="carousel-item">
            <a href="products/clothing"><img src="../../assets/Images/crousel11.jpg" alt="Clothing" width="1100" height="500"></a>
          </div>
          <div class="carousel-item">
            <a href="products/footwear"><img src="../../assets/Images/discount5.jpg" alt="Footwear" width="1100" height="500"></a>
          </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
  
  <!--Categories-->
  <div class="container bg-light">
    <h1 class="mt-5 font1 text-center">All Products </h1>
  
  
    <div class="row">
  
  
      <div class="card col-5 m-4 p-2">
        <img class="card-img-top" src="../../assets/Images/indian.jpg" alt="Card image" width="300" height="350">
        <div class="card-body">
          <h4 class="card-title font2">Indian Wear</h4>
          <p class="card-text">Starting from 699</p>
          <!-- <a href="products/clothing" class="btn btn-info">Explore</a> -->
        </div>
      </div>
      <div class="card col-5 m-4 p-2">
        <img class="card-img-top" src="../../assets/Images/western.webp" alt="Card image" width="300" height="350">
        <div class="card-body">
          <h4 class="card-title font2">Western Wear</h4>
          <p class="card-text">Starting from 299</p>
          <!-- <a href="products/clothing" class="btn btn-info">Explore</a> -->
        </div>
      </div>
  
      <div class="card col-5 m-4 p-2">
        <img class="card-img-top" src="../../assets/Images/formal.jpg" alt="Card image" width="300" height="350">
        <div class="card-body">
          <h4 class="card-title font2"> Mens Formal Wear</h4>
          <p class="card-text">Starting from 399</p>
          <!-- <a href="products/clothing" class="btn btn-info">Explore</a> -->
        </div>
      </div>
      <div class="card col-5 m-4 p-2">
        <img class="card-img-top" src="../../assets/Images/tshirt.jpg" alt="Card image" width="300" height="350">
        <div class="card-body">
          <h4 class="card-title font2">Men T-Shirts</h4>
          <p class="card-text">Starting from 299</p>
          <!-- <a href="products/footwear" class="btn btn-info">Explore</a> -->
        </div>
      </div>
  
      <div class="card col-5 m-4 p-2">
        <img class="card-img-top" src="../../assets/Images/iphone11.jpg" alt="Card image" width="300" height="350">
        <div class="card-body">
          <h4 class="card-title font2">I Phone</h4>
          <p class="card-text">Starting from 49999</p>
          <!-- <a href="products/clothing" class="btn btn-info">Explore</a> -->
        </div>
      </div>
      <div class="card col-5 m-4 p-2">
        <img class="card-img-top" src="../../assets/Images/laptop.png" alt="Card image" width="300" height="350">
        <div class="card-body">
          <h4 class="card-title font2">laptop</h4>
          <p class="card-text">Starting from 45000</p>
          <!-- <a href="products/clothing" class="btn btn-info">Explore</a> -->
        </div>
      </div>
    
      <div class="card col-5 m-4 p-2">
        <img class="card-img-top" src="../../assets/Images/womenfoot.jpg" alt="Card image" width="300" height="350">
        <div class="card-body">
          <h4 class="card-title font2">Women Footware</h4>
          <p class="card-text">Starting from 399</p>
          <!-- <a href="products/electronics" class="btn btn-info">Explore</a> -->
        </div>
      </div>
  
      <div class="card col-5 m-4 p-2">
        <img class="card-img-top" src="../../assets/Images/shoes.jpg" alt="Card image" width="300" height="350">
        <div class="card-body">
          <h4 class="card-title font2">Mens Footware</h4>
          <p class="card-text">Starting From 599</p>
          <!-- <a href="products/books" class="btn btn-info">Explore</a> -->
        </div>
      </div>
  
      <div class="card col-5 m-4 p-2">
        <img class="card-img-top" src="../../assets/Images/book.png" alt="Card image" width="300" height="350">
        <div class="card-body">
          <h4 class="card-title font2">Books</h4>
          <p class="card-text">Starting from 199</p>
          <!-- <a href="products/footwear" class="btn btn-info">Explore</a> -->
        </div>
      </div>
      <div class="card col-5 m-4 p-2">
        <img class="card-img-top" src="../../assets/Images/home.png" alt="Card image" width="300" height="350">
        <div class="card-body">
          <h4 class="card-title font2">Home Appliance</h4>
          <p class="card-text">Starting from 699</p>
          <!-- <a href="products/footwear" class="btn btn-info">Explore</a> -->
        </div>
      </div>
  
    </div>
  </div>

